@charset "utf-8";
@import url('layout.css');
@import url('style.css');
/*_ COMMON CSS _*/
.display_none{
	height:0%;
	font-size:0%;
	line-height:0%;
	visibility:hidden;
	position:absolute;
	top:0;
	left:0
}
.clearfix:after{
	height:0;
 	content:"."; 
 	display:block;
  	clear:both;
  	visibility:hidden;
  	line-height:0}
.clearfix{
	display:inline-block
}
html[xmlns] .clearfix{
	display:block
}
* html .clearfix{
	height:1%
}
.clear{
	clear:both;
}
input[type=checkbox], input[type=radio] {
	width: 15px;
	height: 18px;
	margin: 0;
	cursor: pointer;
	vertical-align: bottom;
}
input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url] {
	display: block;
	float: left;
	height: 29px;
	margin: 0;
	padding: 0 8px;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 3px;
}
textarea{
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 3px;
	padding: 10px 8px;
}
select{
	display: inline-block;
	height: 29px;
	margin: 0;
	padding: 5px 8px;
	background: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-width:90px;
}
.error-message {
	color: red;
	height: 29px;
	line-height: 29px;
	margin-left: 10px;
	font-size: 16px;
	float: left;
}
a:hover{
	font-weight: 800;
};