@charset "utf-8";
/*_ RESET CSS _*/
*{margin:0;padding:0; outline:none;}
table{width:100%;border-spacing:0;* border-collapse:collapse}
fieldset,img{border:0}
ol,ul{list-style:none}
caption,th{text-align:left}
q:before,q:after{content:''}
abbr,acronym{border:0}
a {text-decoration: none;}